@use "../../abstracts/constants";
@use "../../abstracts/mixins";

%transition {
  transition: all 0.2s ease-in-out;
}

.pets-pets {
  background: constants.$color-bg-white-dark;
}

.pets-pets .pets__wrapper {
  padding: 8rem 4rem 10rem 4rem;
}

.pets-pets {
  .pets__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
  }

  .pets__title {
    color: constants.$color-text-dark-h2;
    width: 50%;
    text-align: center;
  }

  .pets__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 4rem;
    row-gap: 3rem;
  }

  .grid-buttons {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
}