$color-white: #ffffff;
$color-white-h: #fafafa;
$color-text-dark: #4c4c4c;
$color-text-dark-s: #cdcdcd;
$color-text-dark-btn: #292929;
$color-text-dark-h2: #545454;

$color-primary: #f1cdb3;

$color-bg-white-dark: #f6f6f6;

$content-width: 1280px;
$tablet-width: 768px;
$mobile-width: 320px;