@use "../abstracts/constants";
@use "../abstracts/mixins";

%transition {
  transition: all 0.2s ease-in-out;
}

.card {
display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2.3rem;
  padding-bottom: 3rem;
  background-color: constants.$color-white-h;

  @extend %transition;

  &:hover {
    background-color: constants.$color-white;

    .card__button {
      background: constants.$color-primary;
    }
  }

  @include mixins.media-tablet {
    width: 100%;
  }
}

.card.second {
  @include mixins.media-mobile {
    display: none;
  }
}

.card.third {
  @include mixins.media-tablet {
    display: none;
  }
}

.card__name {
  @include mixins.font(400, 2rem, 100%, Georgia);
  color: constants.$color-text-dark-h2;
  letter-spacing: 6%;
  padding-bottom: 0.8rem;
}

.card__image img {
  width: 100%;
  height: 100%;

  @include mixins.media-mobile {
    width: unset;
  }
}

.pets-pets {
  @include mixins.media-tablet {
    .card:nth-child(n + 7) {
      display: none;
    }
  }

  @include mixins.media-mobile {
    .card:nth-child(n + 4) {
      display: none;
    }
  }
}

.pets-pets .card {
  @include mixins.media-tablet {
    gap: 2.9rem;
  }

  @include mixins.media-mobile {
    gap: 2.7rem;
  }

  .card__name {
    @include mixins.media-tablet {
      padding-bottom: 0.2rem;
    }
  }
}