@use "../abstracts/constants";
@use "../abstracts/mixins";

%transition {
  transition: all 0.2s ease-in-out;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5.3rem;

  @include mixins.media-tablet {
    gap: 1.2rem;
  }

  @include mixins.media-mobile {
    flex-direction: column;
    gap: 2.1rem;
  }
}

.slider__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9rem;

  @include mixins.media-tablet {
    gap: 4rem;
  }
}

