@use "../abstracts/constants";
@use "../abstracts/mixins";

%transition {
  transition: all 0.2s ease-in-out;
}

.footer {
  background:
          url("../../assets/img/icons/noise_transparent.svg") repeat,
          linear-gradient(135deg, #574635 0%, #020100 100%);
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  gap: 16rem;
  padding: 4rem 4rem 0 4rem;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  padding-top: 1.6rem;
}

.footer__item {
  @include mixins.font(400, 2rem, 115%, Georgia);
  letter-spacing: 6%;
  a {
    text-decoration: none;
    color: constants.$color-primary;
    svg {
      margin-right: 1.3rem;
      margin-bottom: -0.8rem;
    }
  }
}

.visit {
  padding-right: 1.44rem;
}

.boston__address {
  display: inline-flex;
  flex-direction: column;
  margin-top: -8px;
}

.boston {
  width: 115%;
  height: 10%;
  a {
    display: inline-flex;
  }
}

.nowrap {
  text-wrap: nowrap;
}

.london {
  width: 102%;
}

.footer__img {
  display: flex;
  align-items: flex-end;
}