@use "../abstracts/constants";
@use "../abstracts/mixins";

%transition {
  transition: all 0.2s ease-in-out;
}

.header {
  background:
          url("../../assets/img/icons/noise_transparent.svg") repeat,
          linear-gradient(135deg, #574635 0%, #020100 100%);
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 9rem;
  padding: 3rem 4rem 0;

  @include mixins.media-tablet {
    padding: 3rem 3rem 0;
    gap: 6rem;
  }

  @include mixins.media-mobile {
    padding: 3rem 1rem 0;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 57.3rem;
  text-wrap: nowrap;
  a {
    text-decoration: none;
  }

  @include mixins.media-tablet {
    gap: 8.1rem;
  }

  @include mixins.media-mobile {
    padding: 0 1rem;
    gap: unset;
  }
}

.logo__title {
  @include mixins.font(400, 3.2rem, 110%, Georgia);
  color: constants.$color-primary;
  letter-spacing: 6%;
}

.logo__text {
  @include mixins.font(400, 1.3rem, 100%);
  color: constants.$color-white;
  letter-spacing: 10%;
  padding-top: 1rem;

  @include mixins.media-tablet {
    padding-left: 4px;
  }
}

.header__navigation {
  width: 100%;

  @include mixins.media-mobile {
    display: none;
  }
}

.header__navigation .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
  list-style: none;
  padding: 0;
}

.navigation__link a {
  @include mixins.font(400, 1.5rem, 160%);
  color: constants.$color-text-dark-s;
  letter-spacing: 0;
  padding-bottom: 0.3rem;
  @extend %transition;

  &:hover {
    color: constants.$color-white-h;
  }

  &:active {
    color: constants.$color-white-h;
    border-bottom: 3px solid constants.$color-primary;
  }
}

.navigation__link.active {
  color: constants.$color-white-h;
  border-bottom: 3px solid constants.$color-primary;
  pointer-events: none;
}

.start-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.2rem;

  @include mixins.media-tablet {
    flex-direction: column;
    width: 75%;
    gap: 2rem;
  }

  @include mixins.media-mobile {
    gap: 3rem;
  }
}

.start__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4.2rem;
  padding-bottom: 7.2rem;

  @include mixins.media-tablet {
    align-items: center;
  }
}

.start__title {
  width: 70%;

  @include mixins.media-tablet {
    width: 87%;
  }

  @include mixins.media-mobile {
    width: 90%;
    text-align: center;
  }
}

.start__text {
  color: constants.$color-text-dark-s;

  @include mixins.media-tablet {
    width: 87%;
  }

  @include mixins.media-mobile {
    width: 130%;
    text-align: center;
  }
}

.start__img {
  display: flex;
  align-items: flex-end;

  @include mixins.media-tablet {
    position: relative;
  }

  @include mixins.media-mobile {
    justify-content: center;
  }

  img {
    @include mixins.media-tablet {
      width: 108.5%;
      position: relative;
      left: 5.3rem;
    }

    @include mixins.media-mobile {
      width: 116.5%;
      position: relative;
      left: 20px;
    }
  }
}