@use "../abstracts/constants";
@use "../abstracts/mixins";

.wrapper {
  max-width: constants.$content-width;
  margin: 0 auto;
  overflow-x: hidden;

  @include mixins.media-tablet {
    max-width: constants.$tablet-width;
  }

  @include mixins.media-mobile {
    max-width: constants.$mobile-width;
  }
}